* {
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}


body {
    background-image:url(../img/bar.jpg);
    background-color: #000000d2;;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*Main Section with button*/

header {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    box-sizing: border-box;
    justify-items: center;
    flex-direction: column;
    padding: 0 0 0 200px;
    margin: 250px 0 400px 0;  
}

.header__join__us button {
    color: #d4dad7;
    background-image: linear-gradient(to right, rgb(27, 95, 45) , rgb(41, 153, 71));
    background-blend-mode: multiply; 
    opacity: 20%;
    border: outset 4px #B7BDBA;
    outline: white 2px;
    opacity: 100%;
    border-radius: 25px;
    font-size: 20px;
    width: 300px;
    height: 100px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
}

.header__join__us button:hover {
    background-color: rgba(0, 0, 0, 0.144);
    background-blend-mode: multiply;
    transition: 0.5s;
} 

.main__text {
    color:#B7BDBA;
    font-size: 80px;   
}

.near__main__text {
    color:#B7BDBA;
    font-size: 40px;
}

main {
    position: relative;
    box-sizing: border-box;
}

.information_section {
    background-color: rgb(229, 231, 229);
    height: 1200px;
    width: 100%;
}

.header_box {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border: outset 2px rgba(255, 255, 255, 0.253);
    letter-spacing: 5px;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(27, 95, 45) , rgb(41, 150, 70));                      
    font-size: 80px;
    color:white;
    margin-bottom: 40px;
    margin-bottom: 150px;
}

#information_main_box {
    display: flex;
    margin: 30px auto 0 auto;
    width: 70%;
    height: 330px;
    justify-content: space-around;
    align-items: center;
}

.graphic_info_box {
    background-color: rgb(229, 231, 229);
    box-sizing: border-box;
    font-size: 15px;
    border: outset 1px #B7BDBA;
    box-shadow: 5px 10px #B7BDBA;
    border-radius: 40px;
    text-align: center;
    margin: 0 20px 0 20px;
    width: 300px;
    height: 300px;
}

.graphic_info_box img {
    width: 94px;
    height: 106;
    justify-content: center;
    display: flex;
    margin: 20px auto 20px auto;
}

.graphic_info_box h1 {
    font-size: 25px;
    color:black;
    margin: 0 0 30px 0;
}

.graphic_info_box span {
    color: rgb(109, 109, 109);
    margin-bottom: 20px;
}

.end_img_section span {
    margin: 0 auto 0 auto;
    font-size: 50px;
    color: white;
}

.blur {
    background-image: linear-gradient(rgb(229, 231, 229), rgba(229, 231, 229, 0));
    height: 140px;
    width: 100%;
}

@media only screen and (max-width: 600px){
    .main__text {
        display: none;
    }

    .near__main__text {
        display: none;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }

    .header__join__us {
        display: flex;
        left: 0;
        bottom: 0;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    }

    .header_box {
        font-size: 40px;
        border-radius: 0 0 40px 40px;
    }

}
