* {
    padding: 0;
    margin: 0;
    border: 0;
}


body {
    background-image:url(../img/bar.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo__navbar {
    margin: 0 0 0 100px;
    display: flex;
    align-items: center;
}

.logo__navbar img {
    width: 100px;
    height: 100px;
}


.logo__navbar span {
    letter-spacing: 3px;
    text-align: center;
    color:  white;
    margin-left: 10px;
    font-size: 40px;   
}

.logo__navbar__text {
    margin: 0 auto 0 auto;
}

.links__box {
    display: flex;
    height: 100%;
    width: 45%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.links {
    display: flex;
    font-size: 40px;
    color: white;
}

.links a {
    display: flex;
    transition-duration: 0.2s;
}

.links a:hover {
    text-decoration: underline #6B7AA1 2px; 
    text-decoration-style: initial;
}

.navbar__icons {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    float: right;
    margin: auto 20px 0 40px
}

.navbar__icons img {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin: 0 5px 0 5px;
    margin-left: 20px;
}

.navbar__icons img:hover {
    border: outset 1px #11324D; 
}

.link {
    color: inherit;
    text-decoration: none;
    margin: 0 10px 0 10px;
    font-size: 30px;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin: 250px 0 400px 0;  
}

.header__text {
    background-color: rgba(0, 0, 0, 0.034);
}

.header__join__us button {
    background:none;
    opacity: 20%;
    border: outset 1px #11324D;
    box-shadow: 10px 10px #11324D;
    opacity: 100%;
    border-radius: 25px;
    font-size: 20px;
    width: 300px;
    height: 100px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.header__join__us button:hover {
    box-shadow: 5px 5px #11324D;
} 


.main__text {
    color:#B7BDBA;
    font-size: 80px;   
}

.near__main__text {
    color:#B7BDBA;
    font-size: 40px;
}

main{
    position: relative;
    box-sizing: border-box;
}

.information_section{
    background-color: #191c1a;
    height: 1100px;
    width: 100%;
}

.header_box{
    letter-spacing: 5px;
    height: 300px;
    width: 100%;
    border-radius: 0 0 200px 200px;
    border: outset 1px white;
    background-color: #11324D;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-size: 100px;
    color:#B7BDBA;

}

#information_main_box{
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: space-around;
    align-items: center;

}

.graphic_info_box{
    border: outset 1px white;
    border-radius: 40px;
    text-align: center;
    width: 500px;
    height: 500px;
}

.graphic_info_box:hover{
    background-color: #262927;
    transition: 0.5s;
}

.graphic_info_box img{
    width: 175px;
    height: 200;
    justify-content: center;
    display: flex;
    margin: 20px auto 30px auto;
}

.graphic_info_box h1{
    color:#B7BDBA;
    margin: 0 0 30px 0;
}

.graphic_info_box span{
    color: rgb(109, 109, 109);
}